body {
    font-family: sans-serif;
    background-color: #000000;
    margin:0;
    padding:0;
}

h1{
    color: bisque;
    font-family:monospace;
    font-size:xx-large;
}

p1{
    color: #ffffff;
    font-family: monospace;
    font-size: large;
}

p2{
    color: #ffffff;
    font-family: monospace;
    font-size: large;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
}

.button-container{
    display: flex;
    gap:30px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }